$color-1: #FFF;
$color-2: #f57c00;
$color-3: #ef6c00;
$color-4: #d64933;
$color-5: #1d3557;
$color-6: #b9d6f2;
$HeadBackColor: #2a303a;

@custom-media --only-small-screen (width >= 0px) and (width <= 601px);
@custom-media --only-medium-screen (width >= 602px) and (width <= 1423px);
@custom-media --only-big-screen (width >= 1424px);

@custom-media --telpanel-small-screen (width <= 950px);

