

 @hamster {

    /*  Base settings */
    font-size: 16px;
    line-height: 1.5;

    font-ratio: minor-third;
    remove-comments: true;

    /*  Vertical Rythm settings */

    unit: em;
    px-fallback: true;
    properties: extend;
    ruler-style: switch ruler-debug;
    ruler-color: rgba(19, 134, 191, .8);
    ruler-icon-colors: #F0FAFF #ACFF0D;
    ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
    ruler-background: png;
    /*ruler-output: images/ruler.png;*/
    ruler-pattern: 1 0 0 0;
    ruler-scale: 4;
    ruler-thickness: 1;

    /*  Custom contants */

    font-weight: 400;
    font-color: #44576a;
    header-color: #1386BF;
    background-color: #FAFDFF;
    block-color: #F0FAFF;
    hover-color: #1BBA13;
    footer-color: #1B2633;
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Arial, sans-serif;

};

.phone {
    &_title {
        width: 500px;
        @media (max-width: 500px) {
            width: auto;
        }
        body.is_dark & {
            color: white;
        }
    }
    img {
        display: block;
    }
}

@reset;
$blue: #056ef0;
$column: 200px;



.grid-item {
 
 }


.menu {
  width: calc(4 * $column);
}

.menu_link {
  background: $blue;
  width: $column;
}

 
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}


@media (width >= 500px) and (width <= 1200px) {
  .blur {
    filter: blur(10px);
  }
}

.blur {
  filter: blur(5px);
}

.dropshadow {
  filter: drop-shadow(1px 1px 2px grey);   
}

body {
  lost-utility: edit rgb(15, 150, 25);
}

section {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  lost-center: 1140px 1% flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

div { 
  lost-column: 1/2 2 1% flex;
  margin-top: 0.5%; 
  margin-bottom: 0.5%;
}

logo {
  lost-column: 1/4 2 1% flex;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
 
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.scale-up-ver-top {
  animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

.header {

}

righthead {
  lost-flex-container: row;
  lost-column: 3/4 2 1% flex;

   
  margin-bottom: 0.5%;
  margin-top: 0.5%; 
   
   
  telpanel {
   
    lost-column: 1/1 1 1% flex;
    margin-bottom: 0.5%;
  }
  headmenu {

    lost-column: 1/1 1 1% flex;
    margin-top: 0.5%;
  }
}



