@hamster {
  /*  Base settings */
  font-size: 16px;
  line-height: 1.4;
  font-ratio: 1.333;
  min-line-padding: 8px;
  remove-comments: true;
 /*  Vertical Rythm settings */
  unit: em;
  px-fallback: true;
  properties:  inline;
  ruler: true;
  ruler-style: always ruler-debug;
  ruler-color: rgba(19, 134, 191, .8);
  ruler-icon-colors: #F0FAFF #ACFF0D;
  ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
  ruler-background: png;
  /*ruler-output: images/ruler.png;*/
  ruler-pattern: 1 0 0 0;
  ruler-scale: 1;
  ruler-thickness: 1;
} 
/*-----------------------------------------
End Hamster setup*/

@reset;
$column: 200px;
$block-font-size: xlarge@d2;

/*Импорт общих настроек*/
@import "variables";

body { background-color: $advBottomBorder;
  font-family: "RobotoR"; 
  font-style: normal;
  font-weight: 400;
 /* lost-utility: edit rgb(15, 150, 25);*/
}
@ruler;
.techinfo {
  adjust-font-size: fontsize small;
  line-height: 1.5;
}

/*Настройки шрифтов и высоты апплетов*/
/*-----------------------------------------*/
section {
  lost-center: 1366px;
  .trust {
    lost-column: 1/1 1 1em flex;
    @util border-top-radius(1.6em);  
  }
}
.telpanel {
  height: 2.2em;
  background-color: $color-5;
  color: $color-1; 
  adjust-font-size: fontsize small;
} 
.sliderapp {
   
}
.sliderText {
  font-weight: 400;
  font-style: bold;
  text-align: right; 
  .titlefirst {
    filter: drop-shadow(1px 1px 2px grey);  
    font-family: "OswaldL";
    font-weight: 300;
    padding-left: 15%;
  }
  .titlesecond {
    padding-top: 0.2em;
    padding-left: 15%;
  }
}
.mainLogoPanel {
  height: 2.5em; 
}
.greedy-nav {
  font-family: "UbuntuR"; 
  font-style: normal;
  font-weight: 400;
  font-style: bold;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  border-bottom-left-radius: 1.3em; 
  height: 3.6em; 
  border-top: 6px solid #f4d35e;
}
@media (--only-small-screen) {
  .greedy-nav {
    border-top: 4px solid #f4d35e;
  }
}
@media (--only-small-screen) {
  .mainLogoPanel {
    height: 2.2em; 
  }
}
.grid-item {@ruler;
  opacity: 0;
  z-index: 1;
  position: relative;/*for hamster*/
  overflow: hidden;   
 /* @util border-top-radius(0.6em);
  @util border-bottom-radius(0.6em);*/
  text-align: justify;
  lost-column: 1/1 1  flex;
  adjust-font-size: fontsize base;
}
.products {
  lost-center: 1366px;
  .sectionTitle {
    font-family: "UbuntuR";
    adjust-font-size: fontsize base;
    text-align: center;
  }
  .itemsBox {
      lost-center: 1024px;
      padding-left: 4%;
      padding-right: 4%;
  }
  .item {
    display: flex;
    height: 14em;
    align-items: flex-end;
    lost-column: 1/4 4 1em;
    .productImage {
      bottom: 0.5em;
      z-index: 2;
      lost-column: 1/4;  
      background-size: 14em; 
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .productTitle {
      font-family: "OswaldL"; 
      font-weight: 400;
      adjust-font-size: fontsize medium;
      z-index: 12;  
      align-self: center;
    }
  }
  @media (--only-small-screen) {
    .itembox {

    }
    .item {
      lost-column: 1/1 1 0 flex;
      height: 15em;
      .productImage {
        background-size: 14em; 
      }
      .productTitle {
         padding-top: 8em;
      }
    }
  }
  @media (--only-medium-screen) {
    .itemsBox {
      lost-center: 560px;
      padding-top: 0em;
      padding-left: 10%;
      padding-right: 10%;
    }
    .item {
      lost-column: 1/2 2 0.5em flex;
      height: 16em;
      align-self: center;
      .productImage {
        background-size: 14em; 
      }
    }
    .advantage {
      .button {
        font-family: "OswaldL"; 
        font-weight: 400;
        adjust-font-size: fontsize medium;
      }
    }
  }
}
.advantage {
  .itemAdv {
    .productDesc {
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }
    lost-waffle: 1/3 no-flex;
  }
  .button {
    font-family: "OswaldL"; 
    font-weight: 400;
    adjust-font-size: fontsize medium;
  }
  @media (--only-small-screen) {
    .itemAdv {
      lost-waffle: 1/1 no-flex;
    }
  }
  @media (--only-medium-screen) {
    .itemAdv {
      lost-waffle: 1/2 no-flex;
    }
  }
}
.trusty {
  .itemTru {
    lost-waffle: 1/3 3 1em no-flex;
  }
}
@media (--only-medium-screen) {
  .trusty {
    .itemTru {
      lost-waffle: 1/2 2 1.1em no-flex;
    }
  }
}
@media (--only-small-screen) {
  .trusty {
    .itemTru {
      lost-waffle: 1/1 1 1.2em no-flex;
    }
  }
}
@media (--only-big-screen) {
  .sliderText {
    font-size: 18px;
    div {
      .titlefirst {
        adjust-font-size: fontsize xlarge;
        line-height: 0.8;
        padding-bottom: 0.2em;
      }
      .titlesecond {
        adjust-font-size: fontsize base;
        line-height: 1.2;
      }
    }
  }
} 
@media (--only-medium-screen) {
  .sliderText {
    div {
      .titlefirst {
        adjust-font-size: fontsize xlarge;
        line-height: 0.8;
        padding-bottom: 0.2em;
        padding-left: 5%;
        margin-right:-5%;
      }
      .titlesecond {
        adjust-font-size: fontsize base;
        line-height: 0.9;
        padding-left: 5%;
        margin-right:-5%;
      }
    }
  }
  @hamster end;
}
@media (--only-small-screen) {
  .sliderText {
     
    div {
      .titlefirst {
        adjust-font-size: fontsize large;
        line-height: 0.8;
        padding-bottom: 0.2em;
        padding-left: 0%;
        margin-right:-15%;
      }
      .titlesecond {
        adjust-font-size: fontsize small;
        line-height: 0.9;
        padding-left: 0%;
        margin-right:-15%;
      }
    }
  }
}  

/*-------------------------------------------*/
/*end Настройки шрифтов и высоты апплетов*/

.dropshadow {
  filter: drop-shadow(1px 1px 2px grey);   
}
.mytext {
  position: relative;
}
section1 { 
  position: relative;
  z-index: 1;
  lost-flex-container: row;
  /*padding-top:  0.25em;
  padding-bottom: 0.25em;*/
  lost-center: 1366px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  .trust {
    lost-column: 1/3 3 1em flex;
    @util border-top-radius(1.6em);  
  }
}


 
.grid-itemL, .grid-itemR  {
  opacity: 0;
  height: 30px;
  @util border-top-radius(0.6em);
  @util border-bottom-radius(0.6em);

  p {
  
  }
}
h1 {
  adjust-font-size: fontsize xlarge;
}
h2 {
  adjust-font-size: fontsize large;
}
h3 {
  adjust-font-size: fontsize medium;
}
h4 {
  adjust-font-size: fontsize base;
}
h5 {
  adjust-font-size: fontsize small;
}
h6 {
  adjust-font-size: fontsize tiny;
}
p {

}
 



/* keyframes */

@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
 
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-elliptic-left-fwd {
  0% {
    transform: translateX(-800px) rotateY(30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    transform: translateX(800px) rotateY(-30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}

 
.slide-in-bck-center {
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-duration: 0.4s;
}

@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}




.scale-up-ver-top {
  animation: scale-up-ver-top 0.15s cubic-bezier(.51,.72,.84,1) 0.2s both;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

.slide-in-elliptic-left-fwd {
  animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-elliptic-right-fwd {
  animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideUpReturn {
  animation-name: slideUpReturn;
  animation-duration: 6.1s;
}
@keyframes slideUpReturn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}

 

 
.tinUpIn {

  animation: tinUpIn;
  animation-duration: 1.1s;
}

@keyframes tinUpIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateY(-900%);
  }

  20% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }

  40% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }

  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

.slideUpReturn {
  animation: slideUpReturn  0.1s cubic-bezier(.51,.72,.84,1) both;
   
}
@keyframes slideUpReturn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-8-6 21:15:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

стили для бэк-топ скролла
.vm-backtop-icon-een {
  display: inline-block;
  font-family: "RobotoR";
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vm-backtop-icon-een:before {
  content: "\e607";
}
.vm-back-top {
  z-index: 10;
  position: fixed;
  cursor: pointer;
  display: none;
}
.vm-back-top.vm-back-top-show {
  display: block;
}
.vm-back-top-inner {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.vm-back-top-inner:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.vm-back-top i {
  color: #fff;
  font-size: 24px;
  padding: 8.5px 10px;
}
.vm-back-top-nav {
  position: absolute;
  right: 100%;
  bottom: 0;
  border-radius: 3px;
  overflow: hidden;
}
.vm-back-top-nav-item {
  height: 30px;
  line-height: 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 10px;
  white-space: nowrap;
}
.vm-back-top-nav-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
