

@svg-load logo-01 url(../../images/logo-01.svg) {
    fill: #000;
    path:nth-child(2) {
        fill: #ff0;
    }
}

logo {
   
   
  lost-column: 1/4 2 0.2% flex;

   
   
  font-family: 'Saira'; 
  font-style: bold;
  font-weight: 700;
  
  margin-bottom: 1%;
  margin-top: 1%;
  @util border-top-radius(0.6em);
  @util border-bottom-radius(0.6em);

}
 
.logo {

     
    lost-column: 1/1 1 flex; 
    background: svg-load('../../images/logo-01.svg', fill=#000, stroke=#fff);
    background-size: 110px auto;
    background-position: center;
    
    background-repeat: no-repeat;
    height: 150px;
     
}

.logo-text {
   
  lost-column: 1/1 1 flex; 
  color: $color-4; 
  text-align: center;
   
}
.up {
    background: svg-load('../../images/logo.svg', fill=#000, stroke=#fff);

}

.header {
   
}

righthead {
  lost-flex-container: row;
  lost-column: 3/4 2 2% flex;
  margin-bottom: 1%;
  margin-top: 1%; 
  telpanel {
    font-family: "PTSansNar"; 
    font-style: regular;
    font-weight: 400;
    justify-content: center;
    lost-flex-container: row;
    lost-column: 1/1 1 1% flex;

    div {

      text-align: center;
      lost-column: 1/3 3 3% flex;
      align-self: center;
    }
    margin-bottom: 1%;
    @util border-bottom-radius(0.6em);
  }



  headmenu {
    font-family: "UbuntuR"; 
    font-style: normal;
    font-weight: 400;
    font-style: bold;
   
    lost-column: 1/1 1 1% flex;
    margin-top: 1%;
     
    ul {
      list-style: none;    
       
      padding: 0;
      margin: 0;  
      li {
        display: inline-block;
      }
    }
  }
}

.tel {
  visibility: hidden;
} 