
<section class="header scale-up-ver-top">
  <logo class="scale-up-center">
    textblok
  </logo>
  <righthead>
    <telpanel class="font2">
       <div>+7 (343)382-24-61</div><div>ООО "ЛИДЕР", Россия, г. Екатеринбург, ул. Старых Большевиков д.54, 620135</div><div>lider-1-00@mail.ru</div>
    </telpanel>
    <headmenu>
      <ul>
        <li>ГЛАВНАЯ</li>
        <li>О НАС</li>
        <li>ПРОТИВОПОЖАРНЫЕ СИСТЕМЫ</li>
        <li>ВИДЕОНАБЛЮДЕНИЕ</li>
        <li>ЕЩЕ</li>
      </ul>
    </headmenu>
  </righthead>
</section>

<section id="grid-one"> 
  <div class="grid-item font1"><p>Компания «Лидер» — признанный эксперт в области проектирования, разработки, внедрения, обслуживания и ремонта оборудования систем безопастности. Деятельность предприятия по монтажу, техническому обслуживанию, и ремонту средств обеспечения пожарной безопасности зданий и сооружении лицензирована Министерством ГО и ЧС РФ за №66-Б/00124 от 23 июня 2009 года.</p></div>
  <div class="grid-item"><p>Я увижу поверхность Марса, так или иначе. Уверен, это будет незабываемо. Мне кажется, наблюдение в телескоп за небесными телами должно быть такой же частью хорошего образования, как путешествия по миру.</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">
    <section id="JQSecuence">
      <div class="grid-itemL">1</div>
      <div class="grid-itemR">2</div>
      <div class="grid-itemL">3</div>
      <div class="grid-itemR">4</div>
      <div class="grid-itemL">5</div>
      <div class="grid-itemR">6</div>
      <div class="grid-itemL">7</div>
      <div class="grid-itemR">8</div>
      <div class="grid-itemL">9</div>
      <div class="grid-itemR">10</div>

    </section>
  </div>
</section>
<section id="grid-two">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
</section>


 