
<section class="header scale-up-ver-top">
  <logo class="scale-up-center">
    textblok
  </logo>
  <righthead>
    <telpanel>
      256456
    </telpanel>
    <headmenu>
      36456
    </headmenu>
  </righthead>
</section>

<section id="grid-one">
  <div class="grid-item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, a, adipisci. Obcaecati excepturi voluptatibus magnam quaerat molestias, dolorem aut quisquam reprehenderit velit nesciunt, consequatur quia inventore. Neque atque cumque cupiditate!</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">
    <section id="JQSecuence">
      <div class="grid-itemL">1</div>
      <div class="grid-itemR">2</div>
      <div class="grid-itemL">3</div>
      <div class="grid-itemR">4</div>
      <div class="grid-itemL">5</div>
      <div class="grid-itemR">6</div>
      <div class="grid-itemL">7</div>
      <div class="grid-itemR">8</div>
      <div class="grid-itemL">9</div>
      <div class="grid-itemR">10</div>

    </section>
  </div>
</section>
<section id="grid-two">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
</section>


 