<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Firesafety3</title>
    <%= csrf_meta_tags %>
    <!-- import CSS -->
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>  
  <body>
    <div id="VmBackTop"></div>

    <section>
      <div id="telpanel">
      </div>
    </section>

    <section> <!-- slider --> 
      <div id="sliderapp"></div>
    </section> <!-- slider end  -->

    <section>
      <div id="logoApp" class="logoApp">
      </div>  
    </section>
     
    <section>
      <div id="mainmenuapp">
      </div>  
    </section>
    <%= yield %>
    <!-- <script
      src="http://code.jquery.com/jquery-3.2.1.slim.min.js"></script>  
      -->
    <!-- 
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>   -->  
    
    <%= javascript_include_tag 'TweenMax', 'TimelineMax', 'application'%>

  </body>
  <script>
    
  </script>
  <!-- import JavaScript -->
</html>
