<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Firesafety3</title>
    <%= csrf_meta_tags %>
<!-- import CSS -->

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">

<%= stylesheet_link_tag    'application', media: 'all'%>
    
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic"sc rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"
  </head>  

  <body>
    <%= yield %>
    <script
      src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
     

       
  <%= javascript_include_tag 'application'%>
  </body>
  <script>
    
  </script>
  <!-- import JavaScript -->
 
</html>
