<section>
  <telpanel>
    <div class="tel">+7 (343)382-24-61</div><div class="adress">ООО "ЛИДЕР", Россия, г. Екатеринбург, ул. Старых Большевиков д.54, 620135</div><div class="mail">lider-1-00@mail.ru</div>
  </telpanel>
</section>

<section> 
  <noflex>
    <div id="app">
    <el-carousel  height="45vh">
        <el-carousel-item v-for="item in 4" :key="item">
          <h3>{{ item }}</h3>
        </el-carousel-item>
      </el-carousel>
    </div>
  </noflex>
</section>

<section>
  <div class="underslide">
    <logo> 
      <div class="logobg">
        <div class="logo">
        </div>
      </div>
    </logo>
    <audit>
       12312431245
    </audit>
  </div>
</section>

 
<section>
  <nav class='greedy-nav font3'>
    <button><div class="hamburger"></div></button>
      <ul class='visible-links'>
        <li><a href="">ГЛАВНАЯ</a></li>
        <li><a href="">О НАС</a></li>
        <li><a href="">ПРОТИВОПОЖАРНЫЕ СИСТЕМЫ</a></li>
        <li><a href="">ВИДЕОНАБЛЮДЕНИЕ</a></li>
        <li><a href="">КОНТРОЛЬ ДОСТУПА</a>
        </li>
      </ul>
      <ul class='hidden-links hidden'></ul>
  </nav> 
</section>



 

<!-- <div id="app">
   <el-carousel :interval="4000" type="card" height="200px">
    <el-carousel-item v-for="item in 6" :key="item">
      <h3>{{ item }}</h3>
    </el-carousel-item>
  </el-carousel>
 </div>
 -->


<section1>
  <div class="trust blur1 font2">
    <div>
     ТК «ОМЕГА»
    </div> 
  </div>
  <div class="trust blur1">
    124
  </div>
  <div class="trust blur1">
    124
  </div>
</section1> 

<section1 id="grid-one "> 
  <div class="grid-item ruler-debug"><p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имеет что запятой гор, всеми это обеспечивает всемогущая дал, свое. Деревни, подпоясал. <br> <br>Текстов ручеек сих океана. Переулка маленькая букв великий.Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса семантика имени, над свой злых! Свой единственное, своего, агенство которой, переулка подзаголовок если свою ее всемогущая над не подпоясал!Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая эта, толку себя заголовок своего ее ведущими, власти! Первую страну повстречался, <ведущими знаках алфавит запятой но живет жизни свое!Компания «Лидер» — признанный эксперт в области проектирования, разработки, внедрения, обслуживания и ремонта оборудования систем безопастности. Деятельность предприятия по монтажу, техническому обслуживанию, и ремонту средств обеспечения <br> <br>  <br>пожарной безопасности зданий и сооружении лицензирована Министерством ГО и ЧС РФ за №66-Б/00124 от 23 июня 2009 года.  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса семантика имени, над свой злых! Свой единственное, своего, агенство которой, переулка подзаголовок если свою ее всемогущая над не подпоясал!Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая эта, толку себя заголовок своего ее ведущими, власти! Первую страну повстречался, ведущими знаках алфавит запятой но живет жизни свое!Компания «Лидер» — признанный эксперт в области проектирования, разработки, внедрения, обслуживания и ремонта оборудования систем безопастности. Деятельность предприятия по монтажу, техническому обслуживанию, и ремонту средств обеспечения пожарной безопасности зданий и сооружении лицензирована Министерством ГО и ЧС РФ за №66-Б/00124 от 23 июня 2009 года. </p>
  </div> 
  <div class="grid-item ruler-debug"> Я увижу поверхность Марса, так или иначе. Уверен, это будет незабываемо. Мне кажется, наблюдение в телескоп за небесными телами должно быть такой же частью хорошего образования, как путешествия по миру. 
  </div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item"><p>textblok</p></div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">2</div>
  <div class="grid-item">textblok</div>
  <div class="grid-item">
    <section id="JQSecuence">
      <div class="grid-itemL">1</div>
      <div class="grid-itemR">2</div>
      <div class="grid-itemL">3</div>
      <div class="grid-itemR">4</div>
      <div class="grid-itemL">5</div>
      <div class="grid-itemR">6</div>
      <div class="grid-itemL">7</div>
      <div class="grid-itemR">8</div>
      <div class="grid-itemL">9</div>
      <div class="grid-itemR">10</div>

    </section>
  </div>
</section1>
<section1 id="grid-two">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
</section1>


 