@font-face {
  font-family: UbuntuR;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Ubuntu-Regular.woff2) format("woff2");} 

@font-face {
  font-family: PTSansNar;
  font-style: regular;
  font-weight: 400;
  src: url(fonts/PT_Sans-Narrow-Web-Regular.woff2) format("woff2");} 

@font-face {
  font-family: PTSansNar;
  font-style: bold;
  font-weight: 700;
  src: url(fonts/PT_Sans-Narrow-Web-Bold.woff2) format("woff2");} 

@font-face {
  font-family: Saira;
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Saira-Bold.woff2) format("woff2");} 

.phone img {
  display: block;} 

.phone_title {
  width: 500px;} 

body.is_dark .phone_title {
  color: white;} 

@media (max-width: 500px) { 

  .phone_title {
    width: auto;}}

.ruler-debug{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 9900;
  pointer-events: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABMCAYAAABkvzftAAAAMUlEQVR42u3YMREAIAwEwXiIZ2xhIKJoKZOhoNmdufYFfOTadRdTzwMAAAAA0PH9yTq/LyJBzrZ0rAAAAABJRU5ErkJggg==");
  background-position: left top;
  background-repeat: repeat;
  background-size: 4px 19px;}

input[id="ruler-debug"] {
  display:none;}

input[id="ruler-debug"] + label {
  z-index: 9999;
  display: inline-block;position: absolute;top: 1.5em;left: 1.5em;
  margin: 0;
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27 viewBox%3D%270 0 24 24%27%3E%3Cpath fill%3D%27%23F0FAFF%27 d%3D%27M18 24c-0.3 0-0.548-0.246-0.548-0.546V18c0-0.3 0.248-0.546 0.548-0.546h5.452  C23.754 17.454 24 17.7 24 18v5.454c0 0.3-0.246 0.546-0.548 0.546H18z M9.271 24c-0.298 0-0.543-0.246-0.543-0.546V18  c0-0.3 0.245-0.546 0.543-0.546h5.457c0.3 0 0.543 0.246 0.543 0.546v5.454c0 0.3-0.243 0.546-0.543 0.546H9.271z M0.548 24  C0.246 24 0 23.754 0 23.454V18c0-0.3 0.246-0.546 0.548-0.546H6c0.302 0 0.548 0.246 0.548 0.546v5.454C6.548 23.754 6.302 24 6 24  H0.548z M18 15.271c-0.3 0-0.548-0.244-0.548-0.542V9.272c0-0.299 0.248-0.545 0.548-0.545h5.452C23.754 8.727 24 8.973 24 9.272  v5.457c0 0.298-0.246 0.542-0.548 0.542H18z M9.271 15.271c-0.298 0-0.543-0.244-0.543-0.542V9.272c0-0.299 0.245-0.545 0.543-0.545  h5.457c0.3 0 0.543 0.246 0.543 0.545v5.457c0 0.298-0.243 0.542-0.543 0.542H9.271z M0.548 15.271C0.246 15.271 0 15.026 0 14.729  V9.272c0-0.299 0.246-0.545 0.548-0.545H6c0.302 0 0.548 0.246 0.548 0.545v5.457c0 0.298-0.246 0.542-0.548 0.542H0.548z M18 6.545  c-0.3 0-0.548-0.245-0.548-0.545V0.545C17.452 0.245 17.7 0 18 0h5.452C23.754 0 24 0.245 24 0.545V6c0 0.3-0.246 0.545-0.548 0.545  H18z M9.271 6.545C8.974 6.545 8.729 6.3 8.729 6V0.545C8.729 0.245 8.974 0 9.271 0h5.457c0.3 0 0.543 0.245 0.543 0.545V6  c0 0.3-0.243 0.545-0.543 0.545H9.271z M0.548 6.545C0.246 6.545 0 6.3 0 6V0.545C0 0.245 0.246 0 0.548 0H6  c0.302 0 0.548 0.245 0.548 0.545V6c0 0.3-0.246 0.545-0.548 0.545H0.548z%27%2F%3E%3C%2Fsvg%3E");}

input[id="ruler-debug"]:checked + label, input[id="ruler-debug"]:hover + label {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27 viewBox%3D%270 0 24 24%27%3E%3Cpath fill%3D%27%23ACFF0D%27 d%3D%27M18 24c-0.3 0-0.548-0.246-0.548-0.546V18c0-0.3 0.248-0.546 0.548-0.546h5.452  C23.754 17.454 24 17.7 24 18v5.454c0 0.3-0.246 0.546-0.548 0.546H18z M9.271 24c-0.298 0-0.543-0.246-0.543-0.546V18  c0-0.3 0.245-0.546 0.543-0.546h5.457c0.3 0 0.543 0.246 0.543 0.546v5.454c0 0.3-0.243 0.546-0.543 0.546H9.271z M0.548 24  C0.246 24 0 23.754 0 23.454V18c0-0.3 0.246-0.546 0.548-0.546H6c0.302 0 0.548 0.246 0.548 0.546v5.454C6.548 23.754 6.302 24 6 24  H0.548z M18 15.271c-0.3 0-0.548-0.244-0.548-0.542V9.272c0-0.299 0.248-0.545 0.548-0.545h5.452C23.754 8.727 24 8.973 24 9.272  v5.457c0 0.298-0.246 0.542-0.548 0.542H18z M9.271 15.271c-0.298 0-0.543-0.244-0.543-0.542V9.272c0-0.299 0.245-0.545 0.543-0.545  h5.457c0.3 0 0.543 0.246 0.543 0.545v5.457c0 0.298-0.243 0.542-0.543 0.542H9.271z M0.548 15.271C0.246 15.271 0 15.026 0 14.729  V9.272c0-0.299 0.246-0.545 0.548-0.545H6c0.302 0 0.548 0.246 0.548 0.545v5.457c0 0.298-0.246 0.542-0.548 0.542H0.548z M18 6.545  c-0.3 0-0.548-0.245-0.548-0.545V0.545C17.452 0.245 17.7 0 18 0h5.452C23.754 0 24 0.245 24 0.545V6c0 0.3-0.246 0.545-0.548 0.545  H18z M9.271 6.545C8.974 6.545 8.729 6.3 8.729 6V0.545C8.729 0.245 8.974 0 9.271 0h5.457c0.3 0 0.543 0.245 0.543 0.545V6  c0 0.3-0.243 0.545-0.543 0.545H9.271z M0.548 6.545C0.246 6.545 0 6.3 0 6V0.545C0 0.245 0.246 0 0.548 0H6  c0.302 0 0.548 0.245 0.548 0.545V6c0 0.3-0.246 0.545-0.548 0.545H0.548z%27%2F%3E%3C%2Fsvg%3E");}

input[id="ruler-debug"]:checked ~ .ruler-debug{
  display: block;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a:active {
    outline: none;
}
html {
  font-size: 100%;
  line-height: 1.2em;}

 
 
.precss {
  background: green
}

@media (min-width: 500px) and (max-width: 1200px) {
  .blur {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

.blur { 
  -webkit-filter: blur(5px); 
          filter: blur(5px);
}

.dropshadow {
  -webkit-filter: drop-shadow(1px 1px 2px grey);
          filter: drop-shadow(1px 1px 2px grey);   
}

 
body {
  font-size: 100%;
  line-height: 1.2em;
}

 
body *:not(input):not(textarea):not(select) {
  background-color: rgba(15, 150, 25, 0.1);}

section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

section div {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/2 - (1em - 1em * 1/2));
  max-width: calc(99.9% * 1/2 - (1em - 1em * 1/2));
  width: calc(99.9% * 1/2 - (1em - 1em * 1/2));
  margin-top: 1%;
  margin-bottom: 1%;}

section div:nth-child(1n) {
  margin-right: 1em;
  margin-left: 0;}

section div:last-child {
  margin-right: 0;}

section div:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;}

 
.font2 {
  
}

.font3 {
  
  letter-spacing: 0.07em;
}

.font4 {
   
}
 
#grid-one {
 
}

.grid-item {
  overflow: hidden;
  height: 200px;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;

}

.grid-item p {
  padding: 0.4em;}
 
.grid-itemL, .grid-itemR  {
  opacity: 0;
  height: 30px;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
 
.grid-itemL p, .grid-itemR p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.4em;}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
 
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

 
.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;

}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}




.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.15s cubic-bezier(.51,.72,.84,1) 0.2s both;
          animation: scale-up-ver-top 0.15s cubic-bezier(.51,.72,.84,1) 0.2s both;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
          animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

.slide-in-elliptic-left-fwd {
  -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-elliptic-right-fwd {
  -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideUpReturn {
  -webkit-animation-name: slideUpReturn;
          animation-name: slideUpReturn;
  -webkit-animation-duration: 6.1s;
          animation-duration: 6.1s;
}
@-webkit-keyframes slideUpReturn {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes slideUpReturn {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

 

 
.tinUpIn {

  -webkit-animation: tinUpIn;

          animation: tinUpIn;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}

@-webkit-keyframes tinUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateY(-900%);
            transform: scale(1, 1) translateY(-900%);
  }

  20% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }

  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateY(0);
            transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes tinUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateY(-900%);
            transform: scale(1, 1) translateY(-900%);
  }

  20% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }

  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateY(0);
            transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.slideUpReturn {
  -webkit-animation: slideUpReturn  0.1s cubic-bezier(.51,.72,.84,1) both;
          animation: slideUpReturn  0.1s cubic-bezier(.51,.72,.84,1) both;
   
}
@keyframes slideUpReturn {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

logo {
   
   
  -webkit-box-flex: 0;
   
   
          flex-grow: 0;
   
   
  flex-shrink: 0;
   
   
  flex-basis: calc(99.9% * 1/4 - (0.2% - 0.2% * 1/4));
   
   
  max-width: calc(99.9% * 1/4 - (0.2% - 0.2% * 1/4));
   
   
  width: calc(99.9% * 1/4 - (0.2% - 0.2% * 1/4));

   
   
  font-family: 'Saira'; 
  font-style: bold;
  font-weight: 700;
  
  margin-bottom: 1%;
  margin-top: 1%;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;

}

logo:nth-child(1n) {
  margin-right: 0.2%;
  margin-left: 0;}

logo:last-child {
  margin-right: 0;}

logo:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;}
 
.logo {

     
    -webkit-box-flex: 0;

     
            flex-grow: 0;

     
    flex-shrink: 0;

     
    flex-basis: calc(99.9% * 1/1 - (30px - 30px * 1/1));

     
    max-width: calc(99.9% * 1/1 - (30px - 30px * 1/1));

     
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1)); 
    background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='136.667px' height='182px' viewBox='0 0 136.667 182' enable-background='new 0 0 136.667 182' xml:space='preserve' fill='%23000' stroke='%23fff'%3E %3Cpath fill='%23D9271F' d='M13.667,162.25c-10-13.5-15.667-38.583-3.167-55c0.667,12.333,6,19,14,13.5 c4.417-3,6.075-10.366,3.083-17.083C23.5,94.5,18.917,85,21,74c1.904-10.053,16.083-19.917,22.833-17.167 c-10.917,6.833-12.768,21.41-1.583,24.417C50,83.333,61.833,65,60,48.667c-1.451-12.928-4.94-24.04,0.333-33.167 C64.667,8,68.5,4.667,73.5,2.333c0.5,5.333-3.583,12.375-0.583,23.792s14.477,19.108,21.75,34.208 C104.5,80.75,92.36,90.985,103.333,94c7.583,2.083,12.667-6.333,6-22.333c24,13.667,29.417,49,23.75,62.083 c-6.25-1.5-12.583-11.333-22.083-7c2.5,1.917,4.5,3.667,4.5,3.667s-1.167,4.875-2.333,6.333c-1.917-0.75-2.708-0.5-6,5.542 c-0.792,0.083-1.958,0.125-2.458,0.125c-2.75-9.375-12.542-17.333-18.958-16.833c-0.5-0.917-0.708-1.667-0.875-2.25 c0.75-0.75,1.833-2.042,2.917-2.958c-1.5,0.083-3.833,0.083-3.833,0.083l-0.083-0.917l-4.042-0.125c0,0-0.042-1.083-0.042-2.25 c1.75-0.25,6.167-1.167,6.708-1.708c0.039-1.217,0.208-3,0.25-4.167c-1.958-1.417-5.083,0.042-5.583-7.917 c-0.792-7.417-7.958-9.208-11.853-9.208c-3.895,0-8.772,0.75-10.563,6.583c-1.167,4.333-1.38,8.865-5.005,9.531 c0.328,1.703,3.816,0.239,4.005,4.219c0.167,3.5,0.151,5.859,0.151,5.859s-1,0.031-1.938,0.141c0.25,2.25,1.438,7.359,1.438,7.359 S47.276,133.5,45.5,134.583c-1.659,1.012-3.623,1.794-5.25,7.083c-1.333,4.333-0.417,4.333-2,8.167 c-1.583,3.833-4.447,9.121-4.947,10.704s-1.136,4.546,0.447,7.462s4.458,7.292,5.542,11.125 C30.625,179.625,21.843,173.288,13.667,162.25z M98.833,166.667c-0.125,0.333,1.771,11.521,2.271,13.896 c6.914-0.342,15.817-6.498,21.729-13.396c6-7,9.526-17.065,8.708-23.167c-1.563,1.125-2.208,2.542-4.479,3.563 c-1.375-2.125-1.021-1.563-3.021-3.625c-3.604-3.042-5.25-0.938-5.5,1.438c-0.243,2.313-0.375,3.604-2,5.25 c-1.792,1.646-1.146,3.167-1.083,7.708c0.05,3.625-0.875,4.833-1.5,5.458s-3.854,2-5.167,2.563c-1.129,0.484-3.5,1.333-5.208,1.313 C101.979,167.625,99.292,166.438,98.833,166.667z'/%3E %3C/svg%3E");
    background-size: 110px auto;
    background-position: center;
    
    background-repeat: no-repeat;
    height: 150px;
     
}
 
.logo:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;}
 
.logo:last-child {
  margin-right: 0;}
 
.logo:nth-child(1n) {
  margin-right: 0;
  margin-left: auto;}

.logo-text {
   
  -webkit-box-flex: 0;
   
          flex-grow: 0;
   
  flex-shrink: 0;
   
  flex-basis: calc(99.9% * 1/1 - (30px - 30px * 1/1));
   
  max-width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
   
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1)); 
  color: #D9271F; 
  text-align: center;
   
}

.logo-text:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;}

.logo-text:last-child {
  margin-right: 0;}

.logo-text:nth-child(1n) {
  margin-right: 0;
  margin-left: auto;}
.up {
    background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='136.667px' height='182px' viewBox='0 0 136.667 182' enable-background='new 0 0 136.667 182' xml:space='preserve' fill='%23000' stroke='%23fff'%3E %3Cpath fill='%23D9271F' d='M13.667,162.25c-10-13.5-17.333-41.333-3.167-55c0.667,12.333,6,19,14,13.5 c4.417-3,6.075-10.366,3.083-17.083C23.5,94.5,18.917,85,21,74c1.904-10.053,16.083-19.917,22.833-17.167 C32.917,63.667,31,78.5,42.25,81.25c9.224,2.255,18.167-16.583,16.333-32.917c-1.451-12.928-4.25-24.167,1.75-32.833 C65.014,8.738,68.5,4.667,73.5,2.333c0.5,5.333-2.333,12.917,0.667,24.333s15.392,15.887,24.167,30.167 c9.167,14.917-2.525,32.871,8.75,34.417c10.333,1.417,11.24-21.688,9.052-27.813c16.281,6.313,22.656,56.063,16.365,70.146 c-6.25-1.5-12-11.167-21.5-6.833c2.5,1.917,4.5,3.667,4.5,3.667s-1.167,4.875-2.333,6.333c-1.917-0.75-2.708-0.5-6,5.542 c-0.792,0.083-1.958,0.125-2.458,0.125c-2.75-9.375-12.542-17.333-18.958-16.833c-0.5-0.917-0.708-1.667-0.875-2.25 c0.75-0.75,1.833-2.042,2.917-2.958c-1.5,0.083-3.833,0.083-3.833,0.083l-0.083-0.917l-4.042-0.125c0,0-0.042-1.083-0.042-2.25 c1.75-0.25,6.167-1.167,6.708-1.708c0.039-1.217,0.208-3,0.25-4.167c-1.958-1.417-5.083,0.042-5.583-7.917 c-0.792-7.417-7.958-9.208-11.853-9.208c-3.895,0-8.772,0.75-10.563,6.583c-1.167,4.333-1.38,8.865-5.005,9.531 c0.328,1.703,3.816,0.239,4.005,4.219c0.167,3.5,0.151,5.859,0.151,5.859s-1,0.031-1.938,0.141c0.25,2.25,1.438,7.359,1.438,7.359 S47.276,133.5,45.5,134.583c-1.659,1.012-3.623,1.794-5.25,7.083c-1.333,4.333-0.417,4.333-2,8.167 c-1.583,3.833-4.447,9.121-4.947,10.704s-1.136,4.546,0.447,7.462s3.917,5.917,5,9.75C30.083,178.25,21.843,173.288,13.667,162.25z M98.833,166.667c0.5,2.563,1.771,11.521,2.271,13.896c15.125,1.625,31.375-21.813,31.583-36.625 c-1.563,1.125-3.354,2.604-5.625,3.625c-1.375-2.125-1.021-1.563-3.021-3.625c-3.604-3.042-5.25-0.938-5.5,1.438 c-0.243,2.313-0.375,3.604-2,5.25c-1.792,1.646-1.146,3.167-1.083,7.708c0.05,3.625-0.875,4.833-1.5,5.458s-3.854,2-5.167,2.563 c-1.129,0.484-3.5,1.333-5.208,1.313C101.875,167.646,100.083,167.167,98.833,166.667z'/%3E %3C/svg%3E");

}

.header {
   
}

righthead {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 3/4 - (2% - 2% * 3/4));
  max-width: calc(99.9% * 3/4 - (2% - 2% * 3/4));
  width: calc(99.9% * 3/4 - (2% - 2% * 3/4));
  margin-bottom: 1%;
  margin-top: 1%;
}

righthead:nth-child(1n) {
  margin-right: 2%;
  margin-left: 0;}

righthead:last-child {
  margin-right: 0;}

righthead:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;}

righthead telpanel {
  font-family: "PTSansNar";
  font-style: regular;
  font-weight: 400;
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  max-width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  margin-bottom: 1%;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;}

righthead telpanel:nth-child(1n) {
  margin-right: 1%;
  margin-left: 0;}

righthead telpanel:last-child {
  margin-right: 0;}

righthead telpanel:nth-child(1n) {
  margin-right: 0;
  margin-left: auto;}

righthead telpanel div {
  text-align: center;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/3 - (3% - 3% * 1/3));
  max-width: calc(99.9% * 1/3 - (3% - 3% * 1/3));
  width: calc(99.9% * 1/3 - (3% - 3% * 1/3));
  align-self: center;}

righthead telpanel div:nth-child(1n) {
  margin-right: 3%;
  margin-left: 0;}

righthead telpanel div:last-child {
  margin-right: 0;}

righthead telpanel div:nth-child(3n) {
  margin-right: 0;
  margin-left: auto;}

righthead headmenu {
  font-family: "UbuntuR";
  font-style: normal;
  font-weight: 400;
  font-style: bold;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  max-width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
  margin-top: 1%;}

righthead headmenu:nth-child(1n) {
  margin-right: 1%;
  margin-left: 0;}

righthead headmenu:last-child {
  margin-right: 0;}

righthead headmenu:nth-child(1n) {
  margin-right: 0;
  margin-left: auto;}

righthead headmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;}

righthead headmenu ul li {
  display: inline-block;}

.tel {
  visibility: hidden;
} 
.greedy-nav {
  position: relative;
} 
.greedy-nav a {
  display: block;
  padding: 20px 30px;
  color: #FFF;
  text-decoration: none} 
.greedy-nav a:hover {
  color: #ef6c00;} 
.greedy-nav button {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  outline: none;
  background-color: #f57c00;
  color: #fff;
  cursor: pointer} 
.greedy-nav button:hover {
  background-color: #ef6c00;} 
.greedy-nav button::after {
  content: attr(count);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -16px;
  top: 12px;
  text-align: center;
  background-color: #ef6c00;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  font-weight: bold;} 
.greedy-nav button:hover::after {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);} 
.greedy-nav .hamburger {
  position: relative;
  width: 32px;
  height: 4px;
  background: #fff;
  margin: auto} 
.greedy-nav .hamburger:before, .greedy-nav .hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  background: #fff;} 
.greedy-nav .hamburger:before {
  top: -8px;} 
.greedy-nav .hamburger:after {
  bottom: -8px;} 
.greedy-nav .visible-links {
  display: inline-table;} 
.greedy-nav .visible-links li {
  display: table-cell;
  border-left: 1px solid #FFF;} 
.greedy-nav .hidden-links {
  position: absolute;
  right: 0px;
  top: 100%;} 
.greedy-nav .hidden-links li {
  display: block;
  border-top: 1px solid #FFF;} 
.greedy-nav .visible-links li:first-child {
  font-weight: bold;} 
.greedy-nav .visible-links li:first-child a {
  color: #FFF !important;} 
.greedy-nav .hidden {
  visibility: hidden;}
/*# sourceMappingURL=application.css.map */
