

 .phone img {
        display: block;
};

.phone_title {
        width: 500px;
};

body.is_dark .phone_title {
        color: white;
};

@media (max-width: 500px) {;

        .phone_title {
            width: auto;
        }
        }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover, a:active {
    outline: none;
}

html {
        font-size: 100%;
        line-height: 1.2em;
}

#grid-one {
   
   
}

.grid-item {
  height: 200px;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;

 }

.grid-item p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        padding: 0.4em;
}


.menu {
  width: calc(4 * 200px);

}

.menu_link {
  background: #056ef0;
  width: 200px;
}

 
.precss {
    background: green
}


@media (min-width: 500px) and (max-width: 1200px) {
  .blur {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.dropshadow {
  -webkit-filter: drop-shadow(1px 1px 2px grey);
          filter: drop-shadow(1px 1px 2px grey);   
}

body *:not(input):not(textarea):not(select) {
        background-color: rgba(15, 150, 25, 0.1);
}

section {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

div { 
  -webkit-box-flex: 0; 
          flex-grow: 0; 
  flex-shrink: 0; 
  flex-basis: calc(99.9% * 1/2 - (2% - 2% * 1/2)); 
  width: calc(99.9% * 1/2 - (2% - 2% * 1/2));
  margin-top: 1%; 
  margin-bottom: 1%;

}

div:nth-child(1n) {
        margin-right: 2%;
        margin-left: 0;

}

div:last-child {
        margin-right: 0;

}

div:nth-child(2n) {
        margin-right: 0;
        margin-left: auto;

}

logo {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/4 - (2% - 2% * 1/4));
  width: calc(99.9% * 1/4 - (2% - 2% * 1/4));
  margin-bottom: 1%;
  margin-top: 1%;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

logo:nth-child(1n) {
        margin-right: 2%;
        margin-left: 0;
}

logo:last-child {
        margin-right: 0;
}

logo:nth-child(2n) {
        margin-right: 0;
        margin-left: auto;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
 
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}





.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
          animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
          animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

.slide-in-elliptic-left-fwd {
  -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-elliptic-right-fwd {
  -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header {
  height: 15vh;
}

righthead {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 3/4 - (2% - 2% * 3/4));
  width: calc(99.9% * 3/4 - (2% - 2% * 3/4));

   
  margin-bottom: 1%;
  margin-top: 1%;
}

righthead:nth-child(1n) {
        margin-right: 2%;
        margin-left: 0;
}

righthead:last-child {
        margin-right: 0;
}

righthead:nth-child(2n) {
        margin-right: 0;
        margin-left: auto;
}

righthead telpanel {
        -webkit-box-flex: 0;
                flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 1/1 - (1% - 1% * 1/1));
        width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
        margin-bottom: 1%;
        border-bottom-left-radius: 0.6em;
        border-bottom-right-radius: 0.6em;
}

righthead telpanel:nth-child(1n) {
        margin-right: 1%;
        margin-left: 0;
}

righthead telpanel:last-child {
        margin-right: 0;
}

righthead telpanel:nth-child(1n) {
        margin-right: 0;
        margin-left: auto;
}

righthead headmenu {
        -webkit-box-flex: 0;
                flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 1/1 - (1% - 1% * 1/1));
        width: calc(99.9% * 1/1 - (1% - 1% * 1/1));
        margin-top: 1%;
        border-top-left-radius: 0.6em;
        border-top-right-radius: 0.6em;
}

righthead headmenu:nth-child(1n) {
        margin-right: 1%;
        margin-left: 0;
}

righthead headmenu:last-child {
        margin-right: 0;
}

righthead headmenu:nth-child(1n) {
        margin-right: 0;
        margin-left: auto;
}




/*# sourceMappingURL=application.css.map */
