<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Firesafety3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <script>
$(document).on('turbolinks:load', function() {
  window.sr = ScrollReveal();
  sr.reveal('.grid-item', {
    reset: true,
    duration: 1500
  });
  sr.reveal('#JQSecuence', { 
    reset: true,
    afterReveal  : function (domEl) {
      $('#JQSecuence .grid-itemL').each(function(i) {
        var num = (i % 4) + 1;
        var neely = 700 * parseInt(i);
        $(this).delay(neely).queue(function () {
          $(this).addClass('slide-in-elliptic-left-fwd');
        });
      });

      $('#JQSecuence .grid-itemR').each(function(i) {
        var num = (i % 4) + 1;
        var neely = 700 * parseInt(i)+350;
        $(this).delay(neely).queue(function () {
          $(this).addClass('slide-in-elliptic-right-fwd');
        });
      });
    }
  }); 
});
 
     
 

</script>

     
  </body>
</html>
